.header__container {
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-color);
    height: 50px;
    position: fixed;
    z-index: 100;
    top: 0;
    width: 100%;
    
    
     
}
.header__logo {
    
    width: 170px;
    height: 50px;
    
   
}

.header__logo__img img {
   
    object-fit: contain;
    width: 100%;
    height: 50px;
        
}
.header__menuimg {
    font-size: 1.5rem;
    position: relative;
    z-index: 10;
    cursor: pointer;
    color: var(--color-3);
    padding-right: 10px;
    margin-top: 14px;
}
.header__nav {
    width: min(100%, 300px);
    position: fixed;
    background-color: var(--color-4);
    height: 100vh;
    right: 0;
    top: 0;
    padding-top: 20px;
    margin-top: 50px;
    z-index: 10;
    margin-bottom: 12px;
    
    

    transition: transform 400ms ease;
    transform: translateX(0 );
}
.header__nav__open {
    transition: transform 400ms ease;
    transform: translateX(100%);
}
.header__list {
    display: flex;
    flex-direction: column;
    
    gap: 30px;
}
.header__item{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 100%;
    cursor: pointer;
    color: var(--primary-color);
    margin-bottom: 35px;
}

.header__i {
   width: 100%;
  
   text-align: center;
    margin-bottom: 5px;
      
}

@media screen and (min-width: 720px) {
    
    .header__container {
        height: 70px;
    }

    .header {
        padding: 0 0 0 var(--padding-table);
        border-bottom: 1px solid var(--border-color);
        height: 100px;
    }
    .header__menuimg {
        display: none;
    }
    .header__navbar__open {
        transform: translateX(0);
        transition-duration: 0ms;
    }
    .header__nav {
        transform: translateX(0);
        transition-duration: 0ms;
        position: static;
        width: auto;
        height: auto;
        padding: initial;
        width: min(50%, 800px);
        background-color: transparent;
    }
    .header__list {
        flex-direction: initial;
        justify-content: space-evenly;
        gap: 0;
    }
    .header__item {
        border-left: 1px transparent;
        border-right: 1px transparent;
        padding: 0;
        height: 100px;
        display: flex;
        align-items: center;
        color:var(--color-3)
    }
}