.product {
    
}
.slider {
    width: 100%;
    height: 400px;
    
    padding: 20px 40px 40px;
    margin-top: 90px;
    position: relative;
    overflow: hidden;
    margin-bottom: 20px;
    

   
}
.slider__container {
    width: 300%;
    height: 100%;
    display: flex;
    
    
/* empieza el movimiento*/
transform: translateX(calc(-100% * 0 / 3));
transition: transform 400ms ease;
}
.second__img {
    transform: translateX(calc(-100% * 1 / 3));
    transition: transform 400ms ease;
}
.third__img {
    transform: translateX(calc(-100% * 2 / 3));
    transition: transform 400ms ease;
}
.slider__imgs {
    width: 100%;
    height: 100%;
    object-fit: contain;

}
.slider__prev,
.slider__next {
position: absolute;
width: 40px;
aspect-ratio: 1;
border-radius: 50%;
background-color: var(--secondary-color);
color: var(--primary-color);
font-size: 1.6rem;
display: flex;
justify-content: center;
align-items: center;
top: 50%;
transform: translateY(-50%);
cursor: pointer;
/* con el z index solucionamos el problema de que no queria pasar a la orta imagen ya que estaba detras*/
z-index: 1;


}
.slider__prev {
    left: 5px;
}
.slider__next {
    right: 5px;
}
.puntos__container {
display: flex;
gap: 40px;
position: absolute;
bottom: 0;
left: 50%;
transform: translateX(-50%);
}
.puntos {
    width: 20px;
    aspect-ratio: 1;
    border-radius: 50%;
    
    background-color: #ccc ;
    cursor: pointer;
}
.puntos__active {
    background-color: var(--secondary-color);
}