.login {
    
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 40px;
    
}
.login__form {
    width: max-content;
    box-shadow: 0 0 20px #0005;
    padding: 20px;
    border-radius: 10px;
    
}
.login__test {
    width: 100%;
    padding: 12px 5px;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    margin-bottom: 7px;
}
.login__test__b {
    display: flex;
    justify-content: center;
    gap: 0.7rem;
            
}
.login__item {
    margin-bottom: 10px;
}
.login__title {
    margin-bottom: 7px;
}