.logged {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    margin-top: 50px;
    
}
.logged_i {
font-size: 5rem;
color: var(--secondary-color);
}
