.filter__category-title {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 15px;
}

.filter__category-products-item {
    margin: 15px 0;
    font-weight: 400;
    color: dimgray;
    cursor: pointer;
}