.home {
    display: flex;
}
.home__filters {
   
    display: flex;
    position: fixed;
    padding: 50px 20px 20px;
    justify-content: flex-start;
    width: 300px;
    height: 100%;
    flex-direction: column;
    background-color: orange;
}
.home__filter__price {
    margin-top: 50px;
    background-color: greenyellow;
    
  
}
/* .home__filter__category */
.home__container__card {
    padding: var(--padding-mobile);
    background-color: aquamarine;
    display: flex;
    margin: auto;
    margin-left: 300px;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}
.card__home {
    width: min(100%, 300px);
    
    border-radius: 10px;
    border: 1px solid var(--border-color);
}
.card__home__header {
    background-color: var(--color-3);
    height: 200px;
    padding: 20px;
    border-bottom: 1px solid var(--border-color);
    position: relative;
    
}
.card__home__header:hover .card__home__img {
opacity: 0;
transition: opacity 400ms ease-out;
}
.card__home__header:hover .card__home__img__back {
opacity: 1;
transition: opacity 400ms ease-out;
}
.card__home__img {
object-fit: contain;
width: 100%;
height: 100%;
transition: opacity 400ms ease-out;
}
.card__home__img__back {
position: absolute;
width: calc(100% - 40px);
height: calc(100% - 40px);
object-fit: contain;
z-index: 1;
opacity: 0;
transition: opacity 400ms ease-out;
}
.card__home__body {
    padding: 20px;
    position: relative;
    padding-bottom: 40px;
    
}
.card__home__title {
    font-size: 1.1rem;
    margin-bottom: 15px;
    height: 42px;
}
.card__home__price__label {
    font-size: 0.8rem;
    color: #888a;
    position: relative;
    left: -5px;
    margin-bottom: 3px;
}
.card__home__price__number {
    font-size: 1rem;
    font-weight: 700;
}
.card__home__btn {
    position: absolute;
    right: 20px;
    bottom: 30px;
    width: 40px;
    border-radius: 50%;
    border: none;
    background-color: var(--color-6);
    color: var(--primary-color);
    aspect-ratio: 1;
    cursor: pointer;
    transition: 0.2s;
    
}
.card__home__btn i {
    font-size: 1.3rem;
    margin-top: 3px;
}
.card__home__btn:hover {
    background-color: var(--secondary-color);
    color: white;
}

