.form_input {
    
    margin-top: 65px;
    display: flex;
    justify-content: center;
    
    }
.search {
    display: flex;
    justify-content: center;
    
    height: 30px;
    width: 90%;
    margin-top: 40px;
}

.input__s {
width: 100%;
border: 1px solid var(--border-color);
}
.input__btn {
background-color: var(--color-6);
border: none;
color: var(--color-primary);
aspect-ratio: 1;
font-size: 1.1rem;
padding-top: 6px;
cursor: pointer;
transition: 0.2s;

}
.input__btn:hover {
    background-color: var(--secondary-color);
    color: white;
}

@media screen and (min-width: 720px) {
    .search {
        width: 800px;
       padding: 0 3rem;
        margin: 40px auto ;
    }
}

